################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bouvet_fagkaffe_frontend/obj
/.vs
/bouvet_fagkaffe_frontend/bin
/bouvet_fagkaffe_repository/obj
/bouvet_fagkaffe_repository/bin
/bouvet_fagkaffe_frontend/Properties
/bouvet_fagkaffe_frontend/.config
