@using bouvet_fagkaffe_frontend.Components.Elements
@inject Operations _operations
@inject NavigationManager _navigation
@rendermode InteractiveServer
@page "/admin"

@if(user != null && user.IsAdmin)
{
    <div class="container">
        <div class="row">
            <div class="btn-group">
                <button class="btn btn-secondary" disabled>Admin</button>
                <button class="btn btn-primary" @onclick="MoveToCandidates">Candidates</button>
                <button class="btn btn-primary" @onclick="MoveToLectures">Unplanned lectures</button>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <h3>Upcoming Lectures</h3>
                @if (lectures != null && lectures.Count() > 0)
                {
                    @foreach (var lecture in lectures)
                    {
                        @if (lecture.Status == LectureStatus.Planned)
                        {
                            <LectureComp 
                                lecture="@lecture"
                                isAdminOrHomeView = "@isAdminView"
                                user = "@user">
                            </LectureComp>
                            <br />
                        }
                    }
                }
                else if (lectures != null && lectures.Count() == 0)
                {
                    <p>There are currently no lectures to display</p>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </div>
            <div class="col-3">
                <h3>Placeholder for calendar</h3>
            </div>
        </div>
    </div>
    
}
else
{
    <p>Unauthorized</p>
}

@code {
    [CascadingParameter]
    private User? user { get; set; }

    private List<Lecture>? lectures { get; set; }
    private List<Candidate>? candidates { get; set; }

    private bool isAdminView = true;

    protected override async Task OnInitializedAsync()
    {
        if (user != null && user.Groups != null)
        {
            lectures = await _operations.GetAllLecturesByDepartments(user.Groups);
            candidates = await _operations.GetAllCandidatesByDepartments(user.Groups);
        }
        await base.OnInitializedAsync();
    }

    private void MoveToCandidates()
    {
        _navigation.NavigateTo("admin/candidates", true);
    }

    private void MoveToLectures()
    {
        _navigation.NavigateTo("admin/lectures", true);
    }
}
