@using System.Security.Claims
@using bouvet_fagkaffe_frontend.Components.Layout
@inject UserHelper _userHelper
@inject AuthenticationStateProvider authenticationStateProvider
@page "/"

<PageTitle>Home</PageTitle>

<h1>Bouvet Fagkaffe</h1>

Welcome to fagkaffe @user?.FullName()
<br />
<div>
    These are your claims: 
    <br />
    <br />
    Email: @user?.Email <br />
    @if (user?.Groups != null)
    {
        @foreach (var group in user.Groups)
        {
            <text>
            Group: @group
            </text>
            <br />
        }
    }
</div>

@code
{
    //Define the variables to use
    private User? user { get; set; }
    private ClaimsPrincipal? principal { get; set; }

    // override intitialization of the page
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider
                   .GetAuthenticationStateAsync();
        principal = authState.User;
        if (principal != null)
            user = await _userHelper.GetUser(principal);

        await base.OnInitializedAsync();
    }
}