@using System.Security.Claims
@inject IHttpContextAccessor _httpContextAccessor
@inject Operations _operations
@inject UserSession _userSession
@page "/"

<PageTitle>Home</PageTitle>

<h1>Bouvet Fagkaffe</h1>

Welcome to fagkaffe @name
<br />
<div>
    These are your claims: 
    <br />
    <br />
    Email: @email <br />
    @if (groups != null)
    {
        @foreach (var group in groups)
        {
            <text>
            Group: @group
            </text>
            <br />
        }
    }
</div>

@code
{
    //Define the variables to use
    private string? foreignId;
    private string? name;
    private string? email;
    private List<Claim>? groups;

    // override intitialization of the page
    protected override async Task OnInitializedAsync()
    {
        foreignId = _userSession.GetUserId();
        name = _userSession.GetUserName();
        email = _userSession.GetUserEmail();
        groups = _userSession.GetUserGroups();

        await base.OnInitializedAsync();
    }

}